* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  height: 70px;
  padding-left: 500px;
  display: flex;
  align-items: center;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #143942;
  font-family: 'Titillium Web', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-basis: 100%;
}

.menu-link {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.075em;
  line-height: 30px;
  text-decoration: none;
  color: #C68D00;
  transition: .3s;
}
  
.menu-link:hover {
  color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 140px);
}

.photo {
  position: absolute;
  top: 0%;
  z-index: 1;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 430px;
  width: 500px;
  background-color:#152826;
  box-shadow: 23px 4px 24px #1528264f;
}

h1 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: #FFFFFF;
  }

h2 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 0%;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  color: #C68D00;
  margin: 0%;
}

ul {
  list-style: none;
  padding-left: 0%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.contact-block {
    display: flex;
    align-items: center;
}

.icon-cotact {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25px;
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(1440px - 500px);
  height: 1024px;
  padding: 50px 50px 0 50px;
}

p {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 10px;
}

code {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.card {
  width: 414px;
  background: #12333B;
  box-shadow: 9px 19px 21px rgba(15, 42, 49, 0.34);
  padding: 20px;
}

.card-active {
  box-shadow: 12px 14px 18px rgba(63, 203, 237, 0.34);
}

.card-info {
  height: 179px;
  margin: 0px 50px 50px 0px;
}

.card-education {
  height: 322px;
  margin: 0px 50px 50px 0px;
}

.card-skills {
  height: 241px;
  margin: 0px 50px 50px 0px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
}

.card-english {
  height: 179px;
  margin: 0px 0px 50px 0px;
}

.card-code {
  height: 322px;
  margin: 0px 0px 50px 0px;
}

.card-experience {
  display: flex;
  flex-direction: column;
  height: 241px;
  margin: 0px 0px 50px 0px;
}

a {
  cursor: pointer;
  text-decoration:none;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
}

a:hover {
  color: #C68D00;
}

.footer-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.git-year-rss {
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #152826;
  box-shadow: 23px 4px 24px #1528264f;
}

.year-2022 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #C68D00;
  margin: 10px;
}
